/* ====== VARIABLES ====== */
:root {
  --color-primary: #fec501;
  /* --color-primary-hover: #535bf2; */
  --color-dark: #1a1a1a;
  --color-light: #ffffff;
  --color-text: #213547;
  --color-bg: #f5f5f5;

  --font-base: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  --border-radius: 8px;
  --transition: 0.25s ease;

  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ====== RESET ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ====== BASE STYLES ====== */
body {
  background-color: var(--color-light);
  color: var(--color-text);
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--color-primary-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
}

button {
  font-family: inherit;
  font-size: 1em;
  padding: 0.6em 1.2em;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background-color: var(--color-dark);
  color: white;
  cursor: pointer;
  transition: border-color var(--transition), background-color var(--transition);
}

/* button:hover {
  border-color: var(--color-dark);
  background-color: var(--color-primary);
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ====== LAYOUT UTILITY ====== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

/* ====== RESPONSIVE ====== */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-light);
  }

  button {
    background-color: #f0f0f0;
    color: var(--color-dark);
  }
}

#global__clock {
  padding: 20px;
  background-color: #213547;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: 'fixed';
  top: 100;
  right: 20;
  z-index: 9999;
}