architecture: "standalone"

auth:
  username: "quanda"
  password: "quanda"
  database: "taxi_trip_db"

primary:
  persistence:
    enabled: true
    existingClaim: postgres-db-pvc
    size: 20Gi
    storageClass: nfs-storage
  
  resources:
    requests:
      cpu: 1000m
      memory: 1Gi
    limits:
      cpu: 1500m
      memory: 2Gi

volumePermissions:
  enabled: true

metrics:
  enabled: true